.header__logo-div, .header__slogan  {
    /* border: 1px solid black; */
    height: 90px;
}
body {
    background: url(../img/main-background.jpg);
    background-size: cover;
    background-attachment:fixed;
}
.honey  {
    background: url(../img/bg-honey.jpg);
    background-size: cover;
    background-attachment:fixed;
}
.container {
    background-color: blanchedalmond;
    margin-top: 10px;
}
.logo {
    height: 100%;
    width: auto;
}
.header__slogan {
    text-align: center;
}
.slogan-text {
   margin: 15px auto;
   font-size: calc(1.2rem + 6 * (100vw - 320px) / 880);
}
.main-menu {
    height: 150px;
}
.main-menu:hover{
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.main-menu__item {
    position:relative;
    padding: 0;
}
.main-menu__item-img {
    position: absolute;
    width: 100%;
    height: 100%;
}
.menu-name {
    margin: 30px auto;
    text-align: center;
    font-size: calc(1.2rem + 6 * (100vw - 320px) / 880);
}
p {
    text-align: center;
    font-size: calc(0.5rem + 6 * (100vw - 320px) / 880);
}
a:hover {
    text-decoration: none;
}
.card:hover {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
/* a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
a:active {
    text-decoration: none;
} */