.header__logo-div, .header__slogan  {
    /* border: 1px solid black; */
    height: 90px;
}
body {
    background: url(../img/main-background.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-attachment: fixed;
    /* padding: 2em; */
}
.bg-berries {
    background: url(../img/bg-berries.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-attachment: fixed;
}
.bg-honey  {
    background: url(../img/bg-honey.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-attachment: fixed;
}
.bg-candy  {
    background: url(../img/bg-candy.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-attachment: fixed;
}
.bg-cedar {
    background: url(../img/bg-cedar.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-attachment: fixed;
}
.bg-chocolate{
    background: url(../img/bg-chocolate.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-attachment: fixed;
}
.bg-cone  {
    background: url(../img/bg-cone.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-attachment: fixed;
}
.bg-gift {
    background: url(../img/bg-gift.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-attachment: fixed;
}
.bg-ivan-tea  {
    background: url(../img/bg-ivan-tea.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-attachment: fixed;
}
.container {
    background-color: blanchedalmond;
    margin-top: 10px;
}
.logo {
    height: 100%;
    width: auto;
}
.header__slogan {
    text-align: center;
}
.slogan-text {
   margin: 15px auto;
   font-size: calc(1.2rem + 6 * (100vw - 320px) / 880);
}
.main-menu {
    height: 150px;
}
.opacity-7 {
    background: rgba(241, 221, 194, 0.7);
}
.main-menu:hover {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.main-menu__item {
    position:relative;
    padding: 0;
}
.bg-item-honey {
    background: url(../img/bg-item-honey.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-attachment: fixed;
}
.bg-item-candy {
    background: url(../img/bg-item-candy.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-attachment: fixed;
}
.card {
    margin-bottom: 10px;
    border: 1px solid rgb(241, 221, 194);
    /* margin-left: 1px; */
    /* margin: 10px; */
}
/* .border {
    border: 1px solid rgb(241, 221, 194)
} */
.bg-dark-opacity {
    background: rgba(52, 58, 64, 0.5) !important;
}
/* .honey-bg-dark-opacity-9 {
    background: rgba(52, 58, 64, 0.9) !important;
}
.honey-bg-dark-opacity-8 {
    background: rgba(52, 58, 64, 0.8) !important;
}
.honey-bg-dark-opacity-7 {
    background: rgba(52, 58, 64, 0.7) !important;
}
.honey-bg-dark-opacity-6 {
    background: rgba(52, 58, 64, 0.6) !important;
} */
.honey-bg-dark-opacity-5 {
    background: rgba(52, 58, 64, 0.5) !important;
}
/* .honey-bg-dark-opacity-4 {
    background: rgba(52, 58, 64, 0.4) !important;
}
.honey-bg-dark-opacity-3 {
    background: rgba(52, 58, 64, 0.3) !important;
}
.honey-bg-dark-opacity-2 {
    background: rgba(52, 58, 64, 0.2) !important;
}
.honey-bg-dark-opacity-1 {
    background: rgba(52, 58, 64, 0.1) !important;
}
.honey-bg-pink-opacity-9 {
    background: rgba(241, 221, 194, 0.9) !important;
}
.honey-bg-pink-opacity-8 {
    background: rgba(241, 221, 194, 0.8) !important;
}
.honey-bg-pink-opacity-7 {
    background: rgba(241, 221, 194, 0.7) !important;
}
.honey-bg-pink-opacity-6 {
    background: rgba(241, 221, 194, 0.6) !important;
}
.honey-bg-pink-opacity-5 {
    background: rgba(241, 221, 194, 0.5) !important;
}
.honey-bg-pink-opacity-4 {
    background: rgba(241, 221, 194, 0.4) !important;
}
.honey-bg-pink-opacity-3 {
    background: rgba(241, 221, 194, 0.3) !important;
}
.honey-bg-pink-opacity-2 {
    background: rgba(241, 221, 194, 0.2) !important;
}
.honey-bg-pink-opacity-1 {
    background: rgba(241, 221, 194, 0.1) !important;
}
.honey-bg-white-opacity-9 {
    background: rgba(255, 255, 255, 0.9) !important;
}
.honey-bg-white-opacity-8 {
    background: rgba(255, 255, 255, 0.8) !important;
}
.honey-bg-white-opacity-7 {
    background: rgba(255, 255, 255, 0.7) !important;
}
.honey-bg-white-opacity-6 {
    background: rgba(255, 255, 255, 0.6) !important;
}
.honey-bg-white-opacity-5 {
    background: rgba(255, 255, 255, 0.5) !important;
}
.honey-bg-white-opacity-4 {
    background: rgba(255, 255, 255, 0.4) !important;
}
.honey-bg-white-opacity-3 {
    background: rgba(255, 255, 255, 0.3) !important;
}
.honey-bg-white-opacity-2 {
    background: rgba(255, 255, 255, 0.2) !important;
}
.honey-bg-white-opacity-1 {
    background: rgba(255, 255, 255, 0.1) !important;
} */
.no-background {
    background: none;
}
.main-menu__item-img {
    position: absolute;
    width: 100%;
    height: 100%;
}
.bg-black {
    background: rgba(52, 58, 64, 0.7);
    border-radius: .25rem;
}
.bg-black-8 {
    background: rgba(52, 58, 64, 0.8);
    border-radius: .25rem;
}
.menu-name {
    margin: 30px auto;
    text-align: center;
    font-size: calc(1.2rem + 6 * (100vw - 320px) / 880);
    /* opacity: 0.9;
    z-index: 10; */
}
.button {
    padding: 0;
    margin-top: 0px;
    background: none;
    position: sticky;
    bottom: 1px;
    top: auto;
}
p {
    text-align: center;
    font-size: calc(0.5rem + 6 * (100vw - 320px) / 880);
}
a:hover {
    text-decoration: none;
}
.card:hover {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
/* a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
a:active {
    text-decoration: none;
} */