/* Max-width 320px */
@media (max-width: 320px) {
    .slogan-text {
        font-size: 20px;
    }
}
/* Max-width 1200px and Min-width 320px */
@media (max-width: 1200px) and (min-width: 321px) {
    .slogan-text {
        /* 30px - 24px */
        font-size: calc(1.4rem + 6 * (100vw - 320px) / 880);
    }
}
/* Min-width 1200px */
@media (min-width: 1201px) {    
    .slogan-text {
        font-size: 40px;
    }
}